{% extends '::base.html.twig' %}
{% block body %}
<div class="row">
        {% for job in jobs %}
        <div class="col-md-4">
          <h2>{{ job.title }}</h2>
          <p>{{ job.description }}</p>
          <p><a class="btn btn-default bntLink" href="{{ job.urlpath }}" role="button">{% trans %}Ver en detalle{% endtrans %} &raquo;</a></p>
        </div>
        {% endfor %}
</div>
{% endblock %}